/*
* @Author: liyue2018
* @Date:   2018-06-11 00:55:17
* @Last Modified by:   liyue2018
* @Last Modified time: 2018-06-12 08:51:36
*/

// 注册页面


.register-content,.login-content, .user-content,.modify-content, .address-content, .addAdress-content {
    background: #fff;
}

.register-form, .login-form,.modify-form,.addAdress-form {
    padding-bottom: 8px;
    margin-bottom: 10px;
    .mui-input-row {
        height: 50px;
        line-height: 50px;
    }
}
.code {
    position: relative;
    .get-code {
        position: absolute;
        right: 6px;
        top: 10px;
        color: #006699;
    }
}
.register-btn,.login-btn,.modify-btn {
    display: block;
    width: 50%;
    background: #006699;
    margin: 20px auto;
}

.login-now-btn {
    padding-right: 6px;
    color: #006699;
}

// 登录页面

.user-content {
    .user-icon {
        font-size: 50px;
        color: #006699;
    }
    .user-info {
        line-height: 20px;
        margin-top: 6px;
        margin-left: 60px;
        span {
            display: block;
            color: #000;
            &:last-child {
                color: #666;
            }
        }
    }
}



// 收货地址管理

.address-content {
    .add-address {
        display: block;
        width: 80%;
        background: #006699;
        text-align: center;
        color: #fff;
        margin: 20px auto;
        padding: 10px 0;
    }
    .address-list {
        li {
            padding: 10px;
            .user-info {
                color: #000;
                font-weight: 500;
            }
            border-bottom: 1px solid #ddd;
            &:first-child {
            border-top: 1px solid #ccc;
            }
        }
    }
}

// 添加收货地址

.addAdress-content {
    .sure-btn {
        width: 80%;
        color: #fff;
        background: #006699;
        display: block;
        text-align: center;
        padding: 10px 0;
        margin: 14px auto 10px;
    }
}

